
.container {
    width: 85%;
    margin:auto;
}

.badge {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button {
    margin: auto;
    width: 100%;
}


.content {
    width: 100%;
}



.card-descri {
    color: #000000ba;
}

.novo-todo{
    width: 100%;
    margin-top: 3rem;
}

mat-card {
    margin-top: .8rem;
    padding: .5rem;
    background-color: rgb(158 158 158 / 4%);
}

p {
    text-align: end;
    font-weight: 600;
    color: rgb(63 81 181 / 92%);
    margin-bottom: 0;
}

.actions {
    text-align: end;
}

.actions button {
    margin: .5rem;
}

.color-red{
    color: blanchedalmond;
    background-color: brown;
}

.color-edit {
    color: black;
    background-color: rgb(246, 246, 11); 
}

.color-done {
    color: blanchedalmond;
    background-color:purple; 
}

